<div class="center jumbotron">
  <h1>Welcome to QueryFlow</h1>

  <h2>
    Make beautiful and meaningful questions.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
